* {
    margin: 0;
    box-sizing: border-box;
    font-family: Optima;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 500vh;
    background-color:rgb(7, 103, 230);
    color: rgb(216, 15, 15);
}

header {
    padding: 4rem, 2rem;
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
}

.head {
    font-size: 4rem;
    font-weight: 500;
    margin-bottom: 20px;
    margin-top: 7px;
    justify-content: center;
    align-items: center;
    padding-left: 300px;
}

#task-form {
    display: flex;
}

input {
    border: none;
    outline: none;
    appearance: none;
}

button {
    outline: none;
    appearance: none;
    border: none;
}

#task-input {
    flex: 1 1 0%;
    padding: 15px;
    border-radius: 5px;
    margin-right: 7px;
    font-size: 1.3rem;
}

#task-submit {
    background-color: rgb(218, 229, 18);
    border-radius: 10px;
    font-size: 1.5rem;
    color: rgb(232, 54, 14);
    font-weight: 600;
}

#task-submit:hover {

    opacity: 0.9;
}

#task-submit:active {
    opacity: 0.6;
}

main {
    flex: 1 1 0%;
    padding: 2rem 1rem;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

.task-list {
    padding: 2rem;
}

h2 {
    font-size: 2.8 rem;
    font-weight: 600;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.text {
    background: rgb(215, 217, 219);
    font-size: 1.21rem;
    color: black;
    display: block;
    width: 100%;
    background-color: white(51, 60, 67, 0.807);
}

#tasks .task {
    display: flex;
    justify-content: space-between;
    background-color: var(--grey);
    padding: 0.5rem;
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;
}

.content {
    flex: 1 1 0%;
}

.edit {
    background: none;
    font-size: 1rem;
    font-weight: 600;
    margin-left: -3px;
}

.delete {
    background: none;
    font-size: 1rem;
    margin-left: -1px;
    font-weight: 600;
}

.text:not(:read-only) {
    color: rgb(168, 16, 16);
}

.actions {
    cursor: pointer;
}

.actions button:hover {
    opacity: 0.6;
}
h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}
